:root {
    // colors
    --white: #ffff;
    --primary: #1054E4;
    --primary-light: #eef4ff;
    --text: #111827;
    --text-secondary: #374151;
    // --btn-hover: #b89eff;
    // --btn-active: #8052FF;
    --background: #F5F5F5;
    --border: #e5e7eb;
    --border-hover: #d4d4d8;
    // --bth-delete: #F06A4D;
}


body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    background-color: var(--background);
}