:root {
    // colors
    --white: #ffff;
    --primary: #1054E4;
    --primary-light: #eef4ff;
    --text: #111827;
    --text-secondary: #374151;
    --error: #dc2626;
    --btn-hover: #5f8be9;
    --background: #F5F5F5;
    --border: #e5e7eb;
    --border-hover: #d4d4d8;

    --border-radius: 12px;

    // font-size
    --font-xs: 14px;
    --font-s: 16px;
    --font-m: 20px;
    --font-l: 22px;

    //font-weight
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
}


body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    background-color: var(--background);
}