.wrapper {
    padding-top: 40px;
    width: 100%;
    max-width: 780px;
}

.title {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: #1f2937;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}